.venv
.pixi/
.vscode/
cache/
S1_mosaic/
S1_prepared/

*.html
*.tif
*.tif.aux.xml
*.zip
*.gpkg
*.qgs

copernicus_cred.txt
aoi.geojson
*.pkl
matriz_confusao.png
resultado_classificacao.png
rf_individualtree.png